
 
.homepage-campaigns .campaign-card-wrapper {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;    
    margin:10 5 10 5;
}

.campaign-card {
    
    background-color: white;  
    width:100%;
    
    .campaign-card-header {
        width:100%;
        padding: 10;
        height: 50;
        
        .usericon {
            background-color: rgb(7,172,216);
            font-size: 30;
            width:35px;
            height:35px;
            border-radius: 35px;
            padding: 4;
            float:left;
        }
        .name{ 
            font-family: Montserrat, sans-serif;
            font-size: 16;
            float:left;
            font-weight:300;
            padding: 8;
        }
        .timeicon{
            float:right;
            font-size: 16;
            padding:10 0 7;
            color:#bfbfbf;
            font-weight:50;
        }
        .time{ 
            float:right;
            color: #bfbfbf;
            font-weight:50;
            font-size: 14;
            padding:8 0 8;

        }
    }
    .campaign-img-holder {
        background-color:transparent;
        min-height: 300;
        background-size: cover;
        background-position: center;
        
        .campaign-img-buffer {
            margin-top: 4;
            min-height: 300;
        }
    }
    .campaign-card-title {
        font-size: 16;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1;
        padding:15;
    }
    .campaign-card-info {
        padding: 0 20 0 20;
        font-family: Montserrat, sans-serif;
        table {
            width: 100%;
            margin: 0;
            tbody {
                tr {
                    color: #bfbfbf;
                    border-bottom: 1px dashed gainsboro;
                    td {
                        padding: 5 0 5;
                    }
                }
                
            }
            
        }
    }
    .campaign-footer {
        font-family: Montserrat, sans-serif;
        font-size:12;
        color:#bfbfbf;
        padding: 15;
        font-weight:100;
        
        span.netgained {
            width:100%;
            font-size: 20;
            font-weight: 600;
            letter-spacing: 1;
        }
    }
    
}

.campaign-card-tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
    color:white;
    padding:0 10 0 10;
    bottom: 0;
    ul { 
        left: 0;
        li {
            float: left; 
        }
    }
    
    li.tag {
        font-family: Montserrat, sans-serif;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        position: relative;
        margin: 0 16px 8px 0;
        padding: 0 10px 0 12px;
        background-color: gainsboro;    
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: rgb(5,182,228);
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        
        &:hover {
          background-color:rgb(5,182,228);
          border-right-color:rgb(5,182,228);  
          color: white;
        }
        &:after {
            content: '';
            display: block;  
            position: absolute;
            left: 100%;
            top: 50%;
            margin-top: -10px;
            width: 0;
            height: 0;
            border-top: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid transparent;
            border-left: 11px solid gainsboro;
            
        }
        &:hover::after {
            border-left-color:rgb(5,182,228);
        }
       
    }
}

