.modal-header {
    min-height:400;
    background-size: cover;
    background-position: center;
    font-size: 30;
    color: lightgrey;
    
    i {
        text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
    }
}

.modal-body {
    padding: 0;
    .left-container{
        min-width:100;
        display:inline-flex;
        margin: -15 0 -15 0;
        width:35%;
        min-height:300;
        background-color: #fafafa;
        .block1 {
            border-bottom: 1.8px solid rgba(153,153,153,0.20);
            height:55%;
            width: 100%;
        }
        
    }
    .right-container {
        display:inline-flex;
        margin: -15 0 -15 0;
        width:65%;
        min-height: 300;
        border-left: 1.8px solid rgba(153,153,153,0.20);
    }
}

.modal-footer {
    height:95;
    .footer-block{
    }
}